
.campos, input {
    display: block;
}

fieldset{
    margin-bottom: 20px;
}

input[type=radio]  {
    display: inline;
}

input[type=checkbox] {
    display: inline;
    
}

input[type=textarea] {
    width: 500px;
    height: 100px;
}

#p1cb {
    margin-left: 5px;
}

input[type=text], input[type=url] {
    width: 500px;
}

input {
    margin-bottom: 10px;
}

.logo
{
    max-height: 100px;
    opacity:0.5;
}
.logo:hover
{
    opacity:1;
}

.caja {
    display: inline-block;
    max-width: 100px;
    min-width: 100px;
}

.laImg {
    max-height: 100px;    
    max-width: 150px;
    
}

#contenido {
    background-color: darkgray;
}