
/*********************************************************************************************************************************************************/
                                                            /* Comunes a todas las páginas */
/*********************************************************************************************************************************************************/

*{
    font-family: 'EB Garamond', serif;

}
/*********************************************************************************************************************************************************/
                                                                /* Barra Navegacion */
/*********************************************************************************************************************************************************/

.dropdownImg {
    max-height: 60px;
    min-height: 50px;
    max-width: 90px;
    min-width: 50px;
    opacity:1;
    display: block;
    margin: auto;
}

.name {
    display: block;
    text-align: center;
}

#botonera {
    margin-top: 10px;
}

.btn {
    margin-left: 10px;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {
    background-color: #333;
}
/*********************************************************************************************************************************************************/
                                                                        /* Ficha */
/*********************************************************************************************************************************************************/

.ficha
{
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #17445E;
    background-color:dimgray;
    color: aliceblue;
    height:100px;
    width:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    opacity: 0;
    text-align: center;
}

.laImg {
    max-height: 200px;
    max-width: 350px;
    margin: 5% 10%;
}

#cerrar {
    float: right;
    margin-right: 5px;
    margin-left: -500px;
    margin-top: 5px;
}
a:link{
    color:skyblue;
}

.name {
    color: white;
}

.btn-info {
    margin-top: 20px;
    margin-right: 5px;
}
.btn-warning {
    margin-top: 20px;
    margin-left: 5px;
}
/*********************************************************************************************************************************************************/
                                                                        /* Index */
/*********************************************************************************************************************************************************/

.indexFondo{
    background-image: url("../img/background4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.87;
    overflow: hidden;
}

.indexLogo{
    max-height: 50px;
    min-height: 50px;
    opacity:1;
}

.banda{
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    /*IMPORTANTE*/
    height: 200px;
    margin-top: 30vh;
    text-align: center;
}

.logoCentral{
    display: inline;
    height:100%;
}

.escondida {
    display: none;
}

.indexNav > li > .dropdown-menu { 
    background-color: #999; 
}

.indexNav > li > a{
    color: #666;
}

.mainNav{
    background-color: #000;
    color: gray;
}

.navbar-toggler-icon{
    color: #666;
}

.navbar{
    min-height: 70px;
    max-height: 70px;
}

.indexFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #666;
    background-color: #000;
    max-height: 50px;
    width: 100%;
}


.linkWiki {
    font-size: large;
    color: goldenrod;
}

#crear{
    color: white;
}
/*
@keyframes glowing {
    0% { box-shadow: 0 0 10px #c4a300; }
    40% { box-shadow: 0 0 20px #c4a300; }
    60% { box-shadow: 0 0 20px #c4a300; }
    100% { box-shadow: 0 0 10px #c4a300; }
}

.glowed {
    animation: glowing 5000ms infinite;
}*/

/*
.indexLogoWrap{
    list-style:none;
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
    animation:grow 1.6s ease-in-out infinite;
}
@keyframes grow
{
    0% , 40% , 100%
    {
        transform:scale(0.2);
    }
    20%{
        transform:scale(1);

    }
}
.glowed{
    animation-delay:-0.8s;
    background:#4fc3f7;
    box-shadow:0 0 50px #4fc3f7;
}*/


/*********************************************************************************************************************************************************/
                                                                        /* Formulario */
/*********************************************************************************************************************************************************/

/*TODO si tienes tiempo, pon los campos de fecha en la misma linea en bloques (Display-Flex) y devuelve el margen al formulario*/

#form{
    vertical-align: center;
    margin: 8% 42px 5% 5%;
    text-align: center;
}

.form-style{
    width: 650px;
    height: 650px;
    background: #bdbdbd;
    padding-bottom: 5px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #5bc0de;
    text-align: left;
    padding-left: 30px;
}

.bajoLinea {
    border: 0;
    height: 12px;
    width: 400px;
    margin-top: 0;
    align-self: center;
    box-shadow: inset 0 12px 12px -12px #2D77A2;
}

.form-style  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
    display: inline-block;
}

.form-style  .field-style:focus{
    outline: none;
    border: 2px solid #6fa0c4;
 }

#radioBotones{
    display: block;
    text-align: left;
    margin-left: 40px;
    margin-top: -10px;
}

.radioLabel{
    margin-left: 20px;
    display: inline-block;
}

.form-style input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

#formButton{
    text-align: center;
}

#encabezadoRadio{
    text-align: center;
}

#encabezadoCampos{
    text-align: center;
}

.formTag{
    margin-bottom: 0;
}

.fieldElement {
 margin-top: 3px;
}

.fieldTag{
    display: inline-block;
    position: relative;
    width: 150px;
    margin-bottom: 0;
}

#fechaDefuncion, #fechaNacimiento{
    display: block;
}

#fieldDeathDate > label {
    margin-left: 42px;
}

#fieldBirthDate, #fieldDeathDate{
    display: inline-block;
}
#fieldDeathDate{
    margin-left: 35px;
}